
@import "../../../node_modules/bootstrap/scss/_variables.scss";

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$body-bg:               #1c4da0;
$body-color:            #fff;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Passion+One:700);

$font-family-base:      'Passion One', cursive;

/***********************
Dependancies
***********************/

$screen-sm-min:   768px;

$line-height-base:        1.428571429;
$line-height-computed:    floor(($font-size-base * $line-height-base));

$thumbnail-caption-padding:   9px;
